.donors {
  padding-top: 40px;
  padding-bottom: 40px;

  $block-name:                &; // #{$block-name}__element

  & + & {
    border-top: 1px solid $divider-color;
  }

  &__title {
    margin-bottom: 0;
  }

  &__col {
    @include col(xs, 6);
    @include col(md, 4);
    margin-top: 24px;

    &--partners {
      @include col(md, 3);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    padding: 16px;
    background-color: $block-bg;
    border-radius: $border-radius;
    user-select: none;

    @media (min-width: $screen-md) {
      height: 110px;
      padding: 24px;
    }

    @media (min-width: $screen-xl) {
      height: 160px;
      padding: 32px;
    }

    img {
      flex: 0 0 100%;
      display: block;
      max-width: 130px;
      max-height: 65px;

      @media (min-width: $screen-md) {
        max-width: 160px;
        max-height: 80px;
      }

      @media (min-width: $screen-xl) {
        max-width: 240px;
        max-height: 120px;
      }
    }
  }
}
