.page-404 {
  margin: 48px 0;

  // @media (min-width: $screen-xl) {
  //   margin: 80px 0;
  // }

  $block-name:                &; // #{$block-name}__element

  &__text-col {
    @include col(xs, 12);
    @include col(xl, 5);
    margin-bottom: 24px;
    text-align: center;

    & > * + * {
      margin-top: 24px !important;
      margin-bottom: 0 !important;
    }

    @media (min-width: $screen-xl) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 0;
    }
  }

  &__img-col {
    display: flex;
    align-items: center;
    justify-content: center;
    @include col(xs, 12);
    @include col(xl, 7);
  }

  &__title {
    margin-bottom: 0;
    font-weight: 600;
    font-size: $font-size-display;
  }

  &__descr {
    font-size: $font-size-lg;
  }
}
