.modal-form {

  $block-name:                &; // #{$block-name}__element

  .btn {
    width: 100%;
  }

  .modal-dialog {

    @media (min-width: 576px) {
      max-width: 450px;
    }

    // @media (min-width: $screen-md) {
    //   max-width: 450px;
    // }
  }

  .modal-content {
    background-color: $body-bg;
    border-radius: $border-radius;
  }

  .modal-header,
  .modal-body,
  .modal-footer {

    @media (min-width: $screen-md) {
      padding-right: 24px;
      padding-left: 24px;
    }
  }

  .modal-header {
    justify-content: space-between;

    @media (min-width: $screen-md) {
      padding-top: 24px;
    }
  }

  .modal-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .modal-footer {
    padding-bottom: 24px;

    @media (min-width: $screen-md) {
      padding-bottom: 24px;
    }
  }

  .field-checkbox__wrapper {

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0 24px;
    }

    .field-checkbox {

      @media (min-width: $screen-md) {
        flex: 1 0;
        flex-basis: calc(50% - 12px);

      }
    }
  }

  &__title {
    margin-top: 0;
    font-size: 18px;
  }
}
