.download-index {

  $block-name:                &; // #{$block-name}__element

  & + & {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid $border-color;
  }

  &__wrapper {
    padding-top: 64px;
    padding-bottom: 64px;

    // @media (min-width: $screen-md) {
    //   padding-top: 56px;
    //   padding-bottom: 56px;
    // }

    // @media (min-width: $screen-xl) {
    //   padding-top: 64px;
    //   padding-bottom: 64px;
    // }

    &--list {
      padding-top: 40px;
      padding-bottom: 0;
    }
  }

  &__inner {

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
      gap: 0 32px;
    }

    @media (min-width: $screen-xl) {
      justify-content: initial;
      gap: 0 128px;
    }
  }

  &__img {
    max-width: 352px; // h380
    margin: 0 auto;

    @media (max-width: $screen-md - 1) {
      margin-bottom: 32px;
    }

    @media (min-width: $screen-md) {
      flex: 0 0 328px;
      margin-left: 0;
    }

    @media (min-width: $screen-xl) {
      flex: 0 0 352px;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    margin-top: 0;
  }

  &__text {

    @media (min-width: $screen-md) {
      flex: 1 1 auto;
    }

    @media (min-width: $screen-xl) {
      flex: 1 1 auto;
    }
  }

  &__intro {
    margin-bottom: 24px;
    font-size: inherit;
  }
}
