.years-index {

  $block-name:                &; // #{$block-name}__element

  &__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
    border-bottom: 2px solid $divider-color;

    @media (min-width: $screen-md) {
      padding-top: 56px;
      padding-bottom: 56px;
    }

    @media (min-width: $screen-md) {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }

  &__col {
    @include col(xs, 12);
    @include col(xl, 6);
    //@include col(xxl, 10);
    margin-bottom: 48px;

    @media (min-width: $screen-md) {
      margin-bottom: 54px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }

  // &__header,
  // &__footer {

  //   @media (min-width: $screen-md) {
  //     max-width: calc(75% - 16px);
  //   }

  //   @media (min-width: $screen-xl) {
  //     max-width: calc(100% - 100px);
  //   }

  //   @media (min-width: $screen-xxl) {
  //     max-width: calc(100% - 210px);
  //   }
  // }

  &__header {
    margin-bottom: 24px;
  }

  &__title {
    margin-top: 0;
  }

  &__footer {
    margin-top: 32px;
  }
}
